<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3><%=title%></h3>
    <img src="data:image/jpeg;base64,<%=imgurl%>">
    <button id="oImg">点击</button>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document.getElementById('oImg').addEventListener('click',()=>{
        axios({
            method:'get',
            url:'/get'
        }).then((res)=>{
            console.log(res)
        }).catch((err)=>{
            console.log(err)
        })
    });
</script>
</body>
</html>